<footer>
    <h2>&copy; 2024 Fruit Finder</h2>
    <nav>
        <ul>
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/fruits">Fruits</a></li>
            <li><a href="/fruits/new">Create a fruit</a></li>
            <!-- <li><a href="/applications">My Applications</a></li> -->
        </ul>
    </nav>
</footer>