<header>
    <h1>Fruit Finder</h1>
    <nav>
        <ul>
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/fruits/new">Create a New Fruit</a></li>
            <!-- <li><a href="/applications">My Applications</a></li> -->
        </ul>
    </nav>
</header>