<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About The Fruit Finder`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h1>About Us</h1>
            <h4><i>Creating Fruits since 1985</i></h4>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>