<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Fruits Show Page</h1>
    <p>
    <% if(fruit){ %>

      The Fruits name is <%= fruit.name %> and its color is <%= fruit.color %> 

        <% if(fruit.readyToEat === true) { %>
            <span>It is ready to eat</span>
        <% } else { %>
            <span>It is not ready to eat</span>
            <% }%>
            
    <% }else { %>
        
        <h1>Fruit at that index does not exist</h1>

    <% } %>
</p>
    <a href="/fruits">Go back</a>
</body>
</html>